h1 {
    color: #1f6fb2;
    font-family: 'Nunito', sans-serif !important;
}

html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

nav.menu {
    height: 50px;
    background-color: #6c757d;
    width: 100%;
    font-size: 2rem;
    font-weight: bold;
}

div.central {
    height: 70vh;
    background-color: #3f9ae5;
}

div.derecha {
    height: 70vh;
    background-color: #0069d9;
}

img.logo {
    width: 150px;
}

.full-height {
    height: 100vh;
}

.mid-height {
    height: 50vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}
